@page
@model OdeToFoodApplication.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Best Restaurants</h1>

<p>
    @Model.Message
</p>

<form action="/Restaurants/List" method="get">
    <div class="form-group">
        <div class="input-group">
            <!--Asp-for attributes helps us to create a two-way data binding.-->
            <input type="search" asp-for="SearchTerm" class="form-control" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Cuisine</td>
        <td>Location</td>
    </tr>

    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>@restaurant.Cuisine</td>
            <td>@restaurant.Location</td>
            <!--You can use 'asp-route-' + yourParameter to pass a value.-->
            <td><a asp-page="./Detail" asp-route-restaurantId="@restaurant.Id" class="btn btn-info">Detail</a></td>
        </tr>
    }
</table>